# --- Compose settings ---
COMPOSE_PROJECT_NAME=text_case

# --- PostgreSQL settings ---
POSTGRES_DB=text
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# --- PgBouncer ---
PGBOUNCER_HOST=pgbouncer
PGBOUNCER_PORT=6432

# --- PgAdmin settings ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# --- Redis settings ---
REDIS_USER=admin
REDIS_PASSWORD=admin
REDIS_MASTER_HOST=redis_master_text
REDIS_SLAVE_HOST=redis_slave_text
REDIS_MASTER_PORT=6379
REDIS_SLAVE_PORT=6379
REDIS_CACHE_LIFE_TIME_SECONDS=600 (sec)

# --- RabbitMQ settings ---
RMQ_USERNAME=admin
RMQ_PASSWORD=admin
RMQ_HOST=rabbitmq
RMQ_PORT=5672

# --- OpenTelemetry settings ---
OTLP_HOST=otel-collector
OTLP_PORT=4317

# --- Grafana settings ---
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin