# --- Compose settings ---
COMPOSE_PROJECT_NAME=text_case

# --- PostgreSQL settings ---
POSTGRES_NAME=text
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=pg_text
POSTGRES_PORT=5432

# --- PgAdmin settings ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# --- Redis settings ---
REDIS_USER=admin
REDIS_PASSWORD=admin
REDIS_HOST=redis_text
REDIS_PORT=6378
CACHE_LIFE_TIME_SECONDS=600 (sec)